body {
	background-color: #000;
	font-family: Verdana, Geneva, sans-serif;
}	
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d20000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding-right:20px;
  text-decoration: none;
  font-size: 16px;
  font-weight:normal;
  color: #fff;
  display: block;
  transition: 0.3s;
  
}
.sidenav span {
  font-family: 'TitrBold';
}
.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 10;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  width:30px; 
  height:25px; 
  cursor:pointer;
  box-sizing:border-box;
  margin-left:10px;
  margin-top:10px;
}
.openbtn:focus {
  transform: scale(1.5);
}
#logo {width: 35%;}
.btn{
	
	display:inline-block;
	text-align:center;
	margin:15px;
	outline:none;
}
.btn:focus{
	
	transform:scale(1.2);
}
.btn img{
	width:350px;
}
.main{
	text-align:center; display:block; margin:auto;margin-top:۴0px; border:thin solid #000;
}
.footer{
  color:#fff; text-align:center;  font-size:12px; position:fixed; bottom:0;
  padding:10px;
  background-color:#000; width:100%;
  left:-10;
}

.movies{
  display:inline-block;vertical-align:middle; position:relative; width: 100px; margin:25px;
  outline:none;
}
.movies:focus{
  transform: scale(1.4);
  
} 
.menu{
  display:inline-block;
  width:110px;
  margin:15px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  font-size:12px;
  outline:none;
  box-sizing:border-box;
}

.menu:focus{
  transform: scale(1.5);
  
}
.menu img{
  width:100px;
  height:100px;
  width:100%;
  border-radius:10px;
	border:solid thick #484848;
	margin-bottom:5px;
	background-color:#fff;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: absolute;
  left:10vw;
  top:20vh;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size:18px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #d20000;
}
.popup .close:hover {
  color: #000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
  
  
}
@media screen and (max-width: 601px) {
  .menu:focus{
  transform: none;
  
}
 	.main{
	margin-top:0px;
} 
  #logo {width: 50%;}
  .btn{
	
	margin:0px;
	
}
 .btn:focus{
	
	
	transform:none;
}
.movies:focus{
  transform: none;
  
}
.movies{
  margin:20px;
  
}
	.footer{
  margin-top:20px;
}
.btn img{
	width:300px;
}
}

 /* HeNy007 */
  #ExternalsponserContainer{width:80%;max-width:1074px;position:fixed;bottom:0;z-index:9999999;right:0;left:0;margin-right:auto;margin-left:auto}
  #ExternalsponserContainer1{width:80%;max-width:1074px;position:fixed;bottom:0;z-index:9999999;right:0;left:0;margin-right:auto;margin-left:0;display:none}
  #closeBtn {
  background-color: RGB(51,51,51);
  width: auto;
  color: rgb(255,255,255);
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  z-index: 99999999;
  cursor: pointer;
  margin: 0;
  padding: 5px 12px;
  float: left;
  height: 30px;
  font-family: 'Droid Arabic Kufi';
  font-weight: 700;
  }
  .submenu-button-left {
  height: 0;
  border-bottom: 36px solid #333333;
  border-right: 36px solid transparent;
  left: 160px;
  top: 0px;
  }
  #alert_content{background:rgb(237,62,9);color:#fff;padding:10px;width:100%;display:block;float:right;font-size:14px;font-family:tahoma;}
  .button.medium{font-size:14px;padding:8px 18px}
  .orange{background:RGB(243,156,18)}
  .button{border-radius:2px;background:RGB(204,0,0);padding:10px 20px;margin:5px;color:rgb(255,255,255);text-align:center;border:0;cursor:pointer;display:inline-block;text-decoration:none;font-weight:400;color:rgb(255,255,255);-webkit-box-shadow:0 4px 4px -2px rgba(0,0,0,0.1);box-shadow:0 4px 4px -2px rgba(0,0,0,0.1)}
  .grey{background:rgb(189,195,199);color:#333}
  
/* ======================
